{% extends "user/connect_base.twig" %}

{% block titleConnect %}
    <div class="title">
        <h2>SE CONNECTER</h2>
    </div>
{% endblock %}
    
{% block connexion %}
    <button name="sign" id="connexion">Connexion</button>
    <div class="bottom">
        <div id="sign-up">
            <a href="{{ url_for('inscription') }}">S'inscrire</a>
        </div>
    </div>
{% endblock %}


