{% extends "base.twig" %}


{% block main %}
    <div class="sign-in">
        <form id="sign-in" action="" method="post">
            <div class="title">
                <h2>SE CONNECTER</h2>
            </div>
            <div class="input-box">
                <div class="input-box-item">
                    <input name="identifiant" type="text" id="id" placeholder="Identifiant">
                    <label for="id"></label>
                    <span class="material-symbols-rounded">fingerprint</span>
                    <p>{{ error }}</p>
                </div>
                <div class="input-box-item">
                    <input name="password" type="password" id="password" placeholder="Mot de passe">
                    <label for="password"></label>
                    <span class="material-symbols-rounded">lock</span>
                </div>
            </div>
            <button name="sign" id="connexion">Connexion</button>
            <div class="bottom">
                <div class="remember">
                    <label for="checkBox">
                        Se souvenir de moi
                    </label>
                    <input type="checkbox" name="remember" id="checkBox">
                </div>
                <div class="sign-up">
                    <a href="">S'inscrire</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

