{% extends "user/connect_base.twig" %}

{% block titleConnect %}
    <div class="title">
        <h2>CREER UN COMPTE</h2>
    </div>
{% endblock %}

{% block connexion %}
    <button name="sign" id="connexion">Inscrire l'utilisateur</button>
{% endblock %}
